In [2]:
import pandas as pd

In [3]:
# Read in CSV
training_labels = pd.read_csv("../../data/archive/Training_Set/Training_Set/RFMiD_Training_Labels.csv")

In [7]:
training_labels.head()

,ID,Disease_Risk,DR,ARMD,MH,DN,MYA,BRVO,TSLN,ERM,...,CME,PTCR,CF,VH,MCA,VS,BRAO,PLQ,HPED,CL
0,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
# Determine the number of ones and zeros in each column of training labels
pos = int(training_labels["DR"].value_counts()[0])
neg = int(training_labels["DR"].value_counts()[1])

print("DR")

DR
0    1544
1     376
Name: count, dtype: int64